body {
	font-family:sans-serif;
	margin:0;
}

a:link, a:visited, a:active, a:hover {
	color:blue;
	text-decoration:none;
	outline:none;
}

a:hover {
	text-decoration:underline;
}

.heading {
	font-weight:bold;
}

#content {
	position:absolute;
	left:50%;
	margin-left:-495px;
	margin-top:5px;
	width:990px;
	/*background:#ccc;*/
}

#left_top, #left_bottom, #ship_info {
	padding:4px 0;
	background-color:#ccc;
}

#left_top p, #left_bottom p, #ship_info p, #bottom p {
	margin:0 5px 10px 5px;
}

#logoutbar {
	margin:2px;
	text-align:right;
	font-size:10pt;
}

#locateMe {
	float:left;
}

#left {
	float:left;
	width:275px;
	height:500px;
	margin-bottom:10px;
}

#left_top, #left_bottom, #ship_info {
	width:275px;
	border:1px solid black;
	margin-bottom:10px;
}

#left_top {
	height:145px;
	overflow:hidden;
}

#left_top p {
	white-space: nowrap;
}

#left_bottom {
	font-size:10pt;
	height:122px;
	overflow-y:auto;
}

#ship_info {
	font-size:10pt;
	height:185px;
	overflow-y:auto;
}

#ship_table, #port_table {
	margin-left:3px;
	width:97%;
}

#ship_table td, #port_table td {
	vertical-align:top;
}

#ship_table .table_left {
	width:55%;
}

#port_table .table_left {
	width:35%;
}

.table_left {
	font-style: italic;
}


#mapcontainer {
	float:right;
	height:500px;
	width:700px;
	border:1px solid black;
}

#loading {
	/*float:right;*/
	position:absolute;
	top:1px;
	left:289px;
	height:515px;
	width:700px;
	background: url("../images/loading.gif");
	background-repeat: no-repeat;
	background-position: center center;
	z-index:2;
}

#endOfGame {
	position:absolute;
	margin:0;
	width:100%;
	height:725px;
	overflow:hidden;
	background-image:url("../images/grey_layer.gif");
	font-size:30pt;
	z-index:3;
	display:none;
}

.error_msg {
	position:absolute;
	top:200px;
	left:50%;
	margin-left:-400px;
	width:800px;
	
	display:none;
}

#bottom {
	clear:both;
	top:5px;
	width:990px;
	height:200px;
	border:1px solid black;
	background-color:#ccc;
	padding:0;
}

#bottom_left, #bottom_right {
	padding:4px 0;

}

#bottom_left {
	float:left;
	width:150px;
	background:#bbb;
	height:200px;
	padding:0;
}

#bottom_right {
	float:right;
	width:830px;
	overflow-y:auto;
	height:192px;
}

.tabtitle {
	margin:0 0 4px 0;
	width:150px;
}

.tabtitle a {
	display:block;
	padding:5px 6px;
	width:138px;
}

#tabtitle0 {
	background-color:#EFFBF5;
}

.tab {
	height:50px;
	display:none;
}



#tab0 {
	display:block;
}

#alone, #offline, #ship_table, #port_table {
	display:none;
}

#users_online, #users_offline {
	list-style-type: none;
	padding-left: 5px;
	margin-left: 0px;
}

#users_online li, #users_offline li {
	padding-left:25px;
}

#users_online li {
	background: url("../images/online.gif") 0px no-repeat;
}

#users_offline li {
	background: url("../images/offline.gif") 0px no-repeat;
}

#mapiframe {
	height:100%;
	width:100%;
	border:0;
	overflow:hidden;
}

#map {
	height:1797px;
	width:3780px;	
	border:0;
}

.pan {
	position:absolute;
	color:#FF0084;
	text-align:center;
}

#pannorth, #pansouth {
	margin-left:50px;
	height:50px;
	width:600px;
}

#panwest, #paneast {
	margin-top:-450px;
	height:260px;
	width:50px;
}

#pannortheast, #pansoutheast, #pansouthwest, #pannorthwest {
	height:40px;	
	width:50px;
}

#pannorth, #pannortheast, #pannorthwest {
	margin-top:-500px;
	padding-top:10px;
}

#pansouth, #pansoutheast, #pansouthwest {
	margin-top:-50px;
	padding-top:15px;
}

#panwest, #pannorthwest, #pansouthwest {
	margin-left:0px;
	
}

#paneast, #pannortheast, #pansoutheast {
	margin-left:650px;
}

#paneast, #panwest {
	padding-top:180px;
}

/* wd06 inbox table stuff */

#inbox {
	float: center;
	width:95%;
	margin-left:10px;
	margin-bottom:20px;
	border-collapse:collapse;
}

#sender {
	background-color:#bbbbbb;
	border-top:2px solid #112233;
	padding:3px;
}

#message {
	border-top:1px solid;
	border-bottom:1px solid;
	padding:3px;
}

/* wd06 trading stuff */

.inventory {
	border-collapse:collapse;
	width:97%;
	
}

.inventory td {
/*	padding:10px;*/
}

.inventory tr {
	border-bottom:1px solid;
	border-top:1px solid;
	margin:3px;
	
}

.item_image {
	height:60px;
	width:60px;
	border:1px solid;
	margin:3px;
}

#item_stats {
	float:left;
}

.items_posted {
	max-height:250px;
	width:400px;
	overflow-y:auto;
}

.btn {
	width:80px;
}

.leaderline{
	width:450px;
	float: center;
}
